{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="{% static 'accounts/style.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>Login</h2>

    {% if error %}
        <p style="color:red; text-align:center;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="login_value" placeholder="Enter username or email" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
    </form>

    <div class="links">
        <a href="{% url 'password_reset' %}">Forgot Password?</a><br>
        <a href="{% url 'user_register' %}">New User?</a> |
        <a href="{% url 'seller_register' %}">Become a Seller</a>
    </div>
</div>

</body>
</html>
